<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kodeklubben (server)</title>
    <%= appCss %>
<link href="/beta/vendor2.2ef91518eebdacd7585a.css" rel="stylesheet"></head>
<body>
    <div id="app"><%= appHtml %></div>
<script type="text/javascript" src="/beta/manifest.b058e9b8f878638dfef1.js"></script><script type="text/javascript" src="/beta/vendor.a6b03d2258d76438e766.js"></script><script type="text/javascript" src="/beta/main.fce3d2843ce1f2ebede3.js"></script><script type="text/javascript" src="/beta/vendor2.2ef91518eebdacd7585a.js"></script></body>
</html>
