<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kodeklubben (server)</title>
    <%= appCss %>
<link href="/beta/vendor2.09f254784762e874f910.css" rel="stylesheet"></head>
<body>
    <div id="app"><%= appHtml %></div>
<script type="text/javascript" src="/beta/manifest.94560fc5e8ab0b309f2f.js"></script><script type="text/javascript" src="/beta/vendor.3951770774da74e23e3f.js"></script><script type="text/javascript" src="/beta/main.4e2a8714a18e05c48464.js"></script><script type="text/javascript" src="/beta/vendor2.09f254784762e874f910.js"></script></body>
</html>
